/*.errpage{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0}
#notfound{position:relative;height:50vh;margin-top: 120px;}
#notfound .notfound{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.notfound{max-width:520px;width:100%;line-height:1.4;text-align:center}
.notfound .notfound-404{position:relative;height:200px;margin:0 auto 20px;z-index:-1}
.notfound .notfound-404 h1{font-family:montserrat,sans-serif;font-size:236px;font-weight:200;margin:0;color:#211b19;text-transform:uppercase;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.notfound .notfound-404 h2{font-family:montserrat,sans-serif;font-size:28px;font-weight:400;text-transform:uppercase;color:#211b19;background:#fff;padding:10px 5px;margin:auto;display:inline-block;position:absolute;bottom:0;left:0;right:0}
.notfound a{font-family:montserrat,sans-serif;display:inline-block;font-weight:700;text-decoration:none;color:#fff;text-transform:uppercase;padding:13px 23px;background:#ff6300;font-size:18px;-webkit-transition:.2s all;transition:.2s all}
.notfound a:hover{color:#ff6300;background:#211b19}@media only screen and (max-width:767px){
.notfound .notfound-404 h1{font-size:148px}}@media only screen and (max-width:480px){
.notfound .notfound-404{height:148px;margin:0 auto 10px}
.notfound .notfound-404 h1{font-size:86px}
.notfound .notfound-404 h2{font-size:16px}
.notfound a{padding:7px 15px;font-size:14px}}
*/

.errpage{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;}
#notfound{position:relative;height:100vh}
#notfound .notfound{position:absolute;left:50%;top:50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)}
    .notfound{max-width:410px;width:100%;text-align:center}
    .notfound .notfound-404{height:280px;position:relative;z-index:-1}
    .notfound .notfound-404 h1{
        font-family:montserrat,sans-serif;
        font-size:230px;
        margin:0;font-weight:900;
        position:absolute;left:50%;
        -webkit-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        transform:translateX(-50%);
        /* background:url("https://i0.hippopx.com/photos/399/787/830/texture-brown-grunge-textured-backgrounds-preview.jpg") no-repeat; */
        background:url("./error-bg-0.jpg") no-repeat; 
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        background-size:cover;
        background-position:center}
    .notfound h2{font-family:montserrat,sans-serif;color:#000;font-size:24px;font-weight:700;text-transform:uppercase;margin-top:0}.notfound p{font-family:montserrat,sans-serif;color:#000;font-size:14px;font-weight:400;margin-bottom:20px;margin-top:0}.notfound a{font-family:montserrat,sans-serif;font-size:14px;text-decoration:none;text-transform:uppercase;background:#0046d5;display:inline-block;padding:15px 30px;border-radius:40px;color:#fff;font-weight:700;-webkit-box-shadow:0 4px 15px -5px #0046d5;box-shadow:0 4px 15px -5px #0046d5}@media only screen and (max-width:767px){.notfound .notfound-404{height:142px}.notfound .notfound-404 h1{font-size:112px}}


/*
.errpage{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0}
#notfound{position:relative;height:95vh;background:#030005}#notfound .notfound{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.notfound{max-width:767px;width:100%;line-height:1.4;text-align:center}.notfound .notfound-404{position:relative;height:180px;margin-bottom:20px;z-index:-1}.notfound .notfound-404 h1{font-family:montserrat,sans-serif;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:224px;font-weight:900;margin-top:0;margin-bottom:0;margin-left:-12px;color:#030005;text-transform:uppercase;text-shadow:-1px -1px 0 #8400ff,1px 1px 0 #ff005a;letter-spacing:-20px}.notfound .notfound-404 h2{font-family:montserrat,sans-serif;position:absolute;left:0;right:0;top:110px;font-size:42px;font-weight:700;color:#fff;text-transform:uppercase;text-shadow:0 2px 0 #8400ff;letter-spacing:13px;margin:0}.notfound a{font-family:montserrat,sans-serif;display:inline-block;text-transform:uppercase;color:#ff005a;text-decoration:none;border:2px solid;background:0 0;padding:10px 40px;font-size:14px;font-weight:700;-webkit-transition:.2s all;transition:.2s all}.notfound a:hover{color:#8400ff}@media only screen and (max-width:767px){.notfound .notfound-404 h2{font-size:24px}}@media only screen and (max-width:480px){.notfound .notfound-404 h1{font-size:182px}}
*/